<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../static/images/icon.png" >

		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
		<link rel="stylesheet" href="../static/styles/8-places.css"/>
	</head>
<body>
	<header>
		<div class="logo"></div>
	</header>
	<div class="container">
		<section class="filters">
			<div class="locations">
				<h3 class="title">States</h3>
				<h4 class="subtitle">&nbsp</h4>
				<ul class="popover">
					{% for state in states|sort(attribute='name') %}
					<li><h2>{{ state.name  }}</h2>
						<ul>
							{% for city in state.cities|sort(attribute='name') %}
							<li>{{ city.name }}</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</ul>
			</div>
			<div class="amenities">
				<h3 class="title">Amenities</h3>
				<h4 class="subtitle">&nbsp</h4>
				<ul class="popover">
					{% for amenity in amenities|sort(attribute='name') %}
					<li>{{ amenity.name }}</li>
					{% endfor %}
				</ul>
			</div>
			<button>Search</button>
		</section>
		<section class="places">
			<h1>Places</h1>
			{% for place in places | sort(attribute='name')%}
			<div class="articles">
				<article>
					<div class='heading'>
					<h2 class="place_title">{{ place.name }}</h2>
						<div class="price_by_night">
							<span>${{ place.price_by_night }}</span>
						</div>
					</div>
					<div class="information">
						<div class="max_guest">
							<span>{{ place.max_guest }} Guests</span>
						</div>
						<div class="number_rooms">
							<span>{{ place.number_rooms }} Bedroom</span>
						</div>
						<div class="number_bathrooms">
							<span>{{ place.number_bathrooms }} Bathroom</span>
						</div>
					</div>
					<div class="user">
						<span><strong>Owner: </strong>{{ place.user.first_name }} {{ place.user.last_name }}</span>
					</div>
					<div class="description">
						<span>{{ place.description | safe }}</span>
					</div>
				</article>
			{% endfor %}
			</div>
		</section>
	</div>
	<footer>
		<p>Best School</p>
	</footer>
</body>
</html>
